.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
    background-image: url("../assets/images/wall.png");
    margin: 0px auto;
    gap: 2rem;
    padding-bottom: 1rem;
}
